<!-- Niyati - Make your email template -->
<h1>Hello <%= @enquiry.name %></h1>

<p>
  We have received your enquiry and one of our friendly staff will respone to your very soon.
</p>

<p>Thanks for getting in touch.</p>

<p>Niyati</p>
